<h1>Your Strange Animal</h1>
<h2><%= @input_word%>:</h2>
<h2><%= @input_def1%></h2>
<h2><%= @input_def2%></h2>
<br><br>
<form action="/output">
  <div class="form-group">
    <label for="input_def2"><h4>Add more information about your animal:</h4></label>
    <input name="input_def2" class="form-control" type="text">
  </div>
